; EditorConfig is awesome: http://EditorConfig.org

; top-most EditorConfig file
root = true

[*]
; 4 space indentation
indent_style = space
indent_size = 4

; unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true

; remove any whitespace preceding a newline
trim_trailing_whitespace = true
