[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/colorscheme-inkpot"]
	path = vim/bundle/colorscheme-inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule "vim/bundle/colorscheme-jellybeans"]
	path = vim/bundle/colorscheme-jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
