# vim: set noexpandtab:
[user]
	email = {{ .email }}
	name = Joshua Matthews
	signingkey = {{ .signingKey }}
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	cob = checkout -b
	cot = checkout -t
	unstage = reset
	uncommit = reset --soft HEAD^
	graph = log --topo-order --branches --graph '--pretty=format:%C(green)%h%C(reset) %s%C(red)%d%C(reset)%n'
	graphall = log --topo-order --all --graph '--pretty=format:%C(green)%h%C(reset) %s%C(red)%d%C(reset)%n'
	ctags = !.git/hooks/ctags
	ticket = !sh -c 'git fetch && git checkout -b $(echo $0 | cut -d\" \" -f1) origin/master && git commit --allow-empty -m \"$0\"'
[core]
	excludesfile = ~/.gitignore_global
	pager = less -isXF
[diff]
	tool = nvim -d
[merge]
	tool = nvim -d
[rerere]
	enabled = true
[push]
	default = current
[commit]
	gpgsign = true
