Host *
	ServerAliveInterval 60
	HashKnownHosts No
	ControlMaster auto
	ControlPath ~/.ssh/cm-%r@%h:%p
	VisualHostKey Yes
Host localhost
	StrictHostKeyChecking No
	UserKnownHostsFile /dev/null
Host *.rutgers.edu
	user jmatth
Host github.com
	user git
