Host *
	ControlMaster auto
	ControlPath ~/.ssh/cm-%r@%h:%p
	VisualHostKey yes
Host localhost
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null
Host *.rutgers.edu
	user jmatth
Host github.com
	user git
