# snippets for making rpm spec files

snippet def define variable
	%define ${1:var} ${2:value}
snippet if simple if
	%if %{${1:var}}
	${2:statements}
	%endif
snippet clog changelog
	* `strftime("%a")` `strftime("%b")` `strftime("%d")` `strftime("%Y")` `g:snips_author` <jmatth@nbcs.rutgers.edu> - ${1:Ver}-${2:Rel}
	- ${3:Message}
