source ~/.vimrc

" Colemak
nnoremap h k
nnoremap j h
nnoremap k j

vnoremap h k
vnoremap j h
vnoremap k j


" Not sure what the defaults do but it sucks
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

" Ideavim doesn't understand "\<Space>"
let mapleader=" "
nnoremap <Leader>t :action ActivateStructureToolWindow<CR>
nnoremap <Leader>d :action ActivateProjectToolWindow<CR>
nnoremap <Leader>h :action HideSideWindows<CR>
" nnoremap <Leader>o :action OptimizeImports<CR>
nnoremap <Leader><Leader> :nohl<CR>

" Emulate vim-surround
set surround
